
<div class="form-signin text-center container registerContainer">
    <form [formGroup]="registerForm">
        <h1 class="h3 my-3 fw-normal titleSign">Please sign up</h1>
    
        <div class="form-floating my-3">
          <input [class.is-invalid]="registerForm.get('email')?.touched && registerForm.get('email')?.invalid " type="email" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="email">
          <label for="floatingInput">Email address</label>
        </div>
        <div *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid " class="alert alert-danger">
          <div class="container-error-message">
            This field is required
          </div>
        </div>
        <div class="form-floating mb-3">
          <input [class.is-invalid]="registerForm.get('password')?.touched && registerForm.get('password')?.invalid " type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="password">
          <label for="floatingPassword">Password</label>
        </div>
        <div *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.invalid" class="alert alert-danger">
          <div class="container-error-message">
            This field is required
          </div>
        </div>
        <button (click)="onSignUp()" class="w-100 btn btn-lg btn-secondary" type="submit">Sign up</button>
      </form>
</div>
