<header class="bg-dark container-fluid">
    <img src="../assets/starwars_logo.png" class="starwarsLogo mx-auto d-block img-fluid" alt="starwars">
  </header>
  <div class="d-flex justify-content-center  navPanel">
    <ul class="nav bg-dark">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="/home" routerLinkActive="active">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/starships" routerLinkActive="active">STARSHIPS</a>
      </li>
    </ul>
  </div>