<header class="bg-dark container-fluid d-flex align-items-center">
    <img src="../assets/starwars_logo.png" class="starwarsLogo mx-auto d-block img-fluid" alt="starwars">
    <div class="text-end">
      <button type="button" routerLink="/login" class="btn btn-secondary me-2">Login</button>
      <button type="button" routerLink="/signup" class="btn btn-secondary">Sign-in</button>
    </div>
  </header>
  <div class="d-flex justify-content-center  navPanel">
    <ul class="nav bg-dark">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="/home" routerLinkActive="active">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/starships" routerLinkActive="active">STARSHIPS</a>
      </li>
    </ul>
  </div>