html,body{
    height: 100%;
    font-family: 'Teko', sans-serif !important;
    text-transform: uppercase;
}


/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
